@{ var postModel = ViewBag.postModel as ContentPage;
    var selecttype = Context.Request.Query["selecttype"].ToInt();
    var selectname = Context.Request.Query["selectname"].ToStr();
    var EnumText = selectname;
    var disabled = "BannerButtonText,ButtonLink";

    if (postModel == null)
    {
        postModel = new ContentPage();
        postModel.ContentTypes = (ContentTypes)selecttype;
        postModel.ParentId = null;
    }
    else
    {
        selecttype = (int)postModel.ContentTypes;
    }
    var TitleName = EnumText + " " + (postModel.Id > 0 ? "Güncelleme" : "Ekleme"); }

<!--begin::Content-->
<!--begin::Subheader-->
<div class="subheader py-2 py-lg-6 subheader-transparent" id="kt_subheader">
    <div class="container-fluid d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
        <!--begin::Info-->
        <div class="d-flex align-items-center flex-wrap mr-2">
            <!--begin::Page Title-->
            <h5 class="text-dark font-weight-bold mt-2 mb-2 mr-5">@Html.Raw(EnumText)</h5>
            <!--end::Page Title-->
            <!--begin::Action-->
            <div class="subheader-separator subheader-separator-ver mt-2 mb-2 mr-4 bg-gray-200"></div>
            <span class="text-muted font-weight-bold mr-4">Sayfa Bilgisi</span>
            <a href="#" class="btn btn-light-primary font-weight-bolder btn-sm">Yeni Kayıt</a>
            <!--end::Action-->
        </div>
        <!--end::Info-->

    </div>
</div>
<!--end::Subheader-->
<!--begin::Entry-->
<div class="d-flex flex-column-fluid">
    <!--begin::Container-->
    <div class="container-fluid">

        <div class="card card-custom">
            <div class="card-header card-header-tabs-line nav-tabs-line-3x">
                <div class="card-toolbar">
                    <ul class="tabbar nav nav-tabs nav-bold nav-tabs-line nav-tabs-line-3x">
                        <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#tab1">@Html.Raw(EnumText + " " + (postModel.Id > 0 ? "Güncelleme" : "Ekleme"))</a></li>
                        @if (postModel.Id > 0)
                        {

                            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#tab2">@Html.Raw("Medya")</a></li>
                            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#tab3">@Html.Raw("Spec")</a></li>
                        }
                    </ul>

                </div>

                @*<div class="card-title"><h3 class="card-label">Title</h3></div>*@
                <a style="float:right;margin-top:25px;" target="_blank" class="btn btn-sm btn-clean btn-icon btn-icon-md"
                   href="@SessionRequest.config.layoutUrl/@postModel.Link" title="Önizleme">
                    <i class="fa fa-eye"></i>
                </a>
            </div>
            @*OrjId,Name,ContentPageId,Link,TemplateType,ExternalLink,ContentTypesId,IsBayi,IsBireysel,IsEndustri,IsMimar,Description,ContentShort,ContentData,VideoLink,FormTypeId,IsGallery,IsMap,IsHeaderMenu,IsFooterMenu,IsSideMenu,IsHamburgerMenu,IsClick,MetaTitle,MetaKeywords,MetaDescription,IsActive,IsPublish,IsInteral,IsInterax,IsIntersecure,IsInterwall*@
            <div class="card-body">
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="tab1" role="tabpanel" aria-labelledby="tab1">
                        @await Component.InvokeAsync("DynamicInput", new DynamicModel()
                        {
                            model = postModel,
                            controllerName = postModel.GetType().Name,
                            PageType = "ContentPage",
                            titleName = TitleName,
                            InsertMethodName = "InsertOrUpdate",
                            labelClass = "col-md-4",
                            inputClass = "col-md-8",
                            colClass = "col-md-6",
                            nonProp = disabled,
                            orderby = "",
                            addBtn = "<input type='submit' value='" + "Kaydet" + "' " + "class='btn btn-primary btn-shadow-hover font-weight-bold mr-2' />",
                            removeBtn = $"<input dataid='{postModel.Id}' type='button' value='Sil' class='btnDelete btn btn-danger btn-shadow-hover font-weight-bold mr-2' />",

                        })
                    </div>
                    <div class="tab-pane fade" id="tab2" role="tabpanel" aria-labelledby="tab2">
                        @await Component.InvokeAsync("DynamicInput", new DynamicModel()
                        {
                            model = postModel,
                            controllerName = postModel.GetType().Name,
                            PageType = "Documents",
                            titleName = "Medya",
                            InsertMethodName = "InsertOrUpdate",
                            labelClass = "col-md-4",
                            inputClass = "col-md-8",
                            colClass = "col-md-6",
                            nonProp = disabled,
                            orderby = "",
                            addBtn = "<input type='submit' value='" + "Ekle" + "' " + "class='btn btn-primary btn-shadow-hover font-weight-bold mr-2' />",
                            removeBtn = "",

                        })
                    </div>
                    <div class="tab-pane fade" id="tab3" role="tabpanel" aria-labelledby="tab3">
                        @await Component.InvokeAsync("DynamicInput", new DynamicModel()
                        {
                            model = postModel,
                            controllerName = postModel.GetType().Name,
                            PageType = "SpecDynamic",
                            titleName = TitleName,
                            InsertMethodName = "InsertOrUpdate",
                            labelClass = "col-md-4",
                            inputClass = "col-md-8",
                            colClass = "col-md-6",
                            nonProp = disabled,
                            orderby = "",
                            addBtn = "<input type='submit' value='" + "Kaydet" + "' " + "class='btn btn-primary btn-shadow-hover font-weight-bold mr-2' />",
                            removeBtn = "",

                        })
                    </div>
                    @*@if (postModel.ContentTypesId == 5)
                        {
                            <div class="tab-pane fade" id="tab4" role="tabpanel" aria-labelledby="tab4">
                                <partial name="../ProjectProduct/Index" />
                            </div>
                        }*@
                </div>
            </div>
        </div>




    </div>
    <!--end::Container-->
</div>
<!--end::Entry-->
<!--end::Content-->
<script>
    $(function () {
        $($('.tabbar li a')[0]).click();
    });
</script>