@{
    Layout = "_Layout";

}


<!-- start page title -->
<section class="wow animate__fadeIn  padding-25px-tb page-title-small" style="background-color:rgb(5, 32, 71)">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-12 col-lg-6 col-md-6  md-margin-25px-bottom text-center  wow animate__fadeIn" data-wow-delay="0.4s"><h5 class="alt-font font-weight-600 d-block mb-0 padding-2-half-rem-right letter-spacing-minus-1px lg-no-padding-right" style="color:#70cfe6 !important;">@Html.Raw("Queens Member Zone".Trans())</h5>
                <h5 class="alt-font font-weight-600 d-block mb-0 text-white padding-2-half-rem-right letter-spacing-minus-1px lg-no-padding-right" style="">@Html.Raw("Sign in for member only access".Trans())</h5></div>

        </div>
    </div>
</section>


<!-- start section -->
<section class="wow animate__fadeIn">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-xl-12 col-md-12 lg-padding-30px-lr md-padding-15px-lr sm-margin-40px-bottom"> 
                <h6 class="alt-font font-weight-500 text-extra-dark-gray">@Html.Raw("Lost password".Trans())</h6>
                <form id="frm_login" class="bg-light-gray padding-4-rem-all lg-margin-35px-top md-padding-2-half-rem-all">
                    <label class="margin-15px-bottom">@Html.Raw("Mail".Trans()) <span class="required-error text-radical-red">*</span></label>
                    <input required class="small-input bg-white margin-20px-bottom required" type="email" name="Mail" placeholder="@Html.Raw("Enter your Mail".Trans())">
                    <button id="btnLogin" class="btn btn-medium btn-fancy btn-dark-gray w-100 submit" type="submit">@Html.Raw("Send".Trans())</button>
                </form>
            </div>

        </div>
    </div>
</section>
<!-- end section -->




<script>
    $(function () {


        var frm_login = '#frm_login';
        $(frm_login).submit(function (e) {
            e.preventDefault();
            var postModel = $.fn.toForm(frm_login);
            $(frm_login).LoadingOverlay("show");
            $.ajx('/passMail', { Mail: postModel.Mail, ContentPageId: (LanguageId == 1 ? 60 : 59) }, function (result) {

                if (result == "ok") {
                    alerts('@Html.Raw("PassSend".Trans())')
                }
                else {
                    alerts('@Html.Raw("PassSendError".Trans())')
                }


                $(frm_login).LoadingOverlay("hide");
            }, function () { location.reload(); });
        });



    });
</script>
