@{
    var selectid_Forms = Context.Request.Query["selecttype"].ToInt();
    var controllerName_Forms = "Forms";
    var titleName_Forms = "Forms";
    var dt_Forms = "dt_" + controllerName_Forms;

}
<script>
    var selectid_Forms = "@selectid_Forms";
    var controllerName_Forms = "@controllerName_Forms";
    var titleName_Forms = "@titleName_Forms";
    var dt_Forms = "#@dt_Forms";
</script>

<div class="row">      
    <div class="col-xl-12">
        <!--begin::Advance Table Widget 10-->
        <div class="card card-custom gutter-b card-stretch">
            <!--begin::Header-->
            <div class="card-header border-0 py-5">
                <h3 class="card-title align-items-start flex-column">
                    <span class="card-label font-weight-bolder text-dark">@Html.Raw(titleName_Forms)</span>
                </h3>
                <div class="card-toolbar">
                    <a href="/@Html.Raw(controllerName_Forms)/InsertOrUpdatePage?selectid=@selectid_Forms" class="btn btn-light-primary font-weight-bolder btn-sm">New @Html.Raw(titleName_Forms)</a>
                </div>
            </div>
            <!--end::Header-->
            <div class="card-body py-0">
                <div class="table-responsive">
                    <table id="@dt_Forms" class="table table-bordered table-hover table-checkable">
                        <thead>
                            <tr>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    $(function () {
        getGrid();
        function getGrid() {
            var columns = [];
            columns.push({ "data": "Id", text: "ID" });
            columns.push({ "data": "Name", text: "Name" });
            columns.push({ "data": "Surname", text: "Surname" });
            columns.push({ "data": "Email", text: "Email" });
            columns.push({ "data": "Phone", text: "Phone" });
            //columns.push({ "data": "Subject", text: "Subject" });
            //columns.push({ "data": "FormTypeName", text: "FormTypeName" });

            columns.push({ "data": "Detail", text: "Detail" });

            $.each(columns, function (i, item) {
                $(dt_Forms + ' thead tr').append('<td> ' + item.text + '</td > ');
            });

            var table = $(dt_Forms).DataTable({
                "ajax": {
                    "url": '/' + controllerName_Forms + '/GetPaging',
                    "type": "POST",
                    "datatype": "json",
                    "data": function (searchModel) {
                        $(dt_Forms).LoadingOverlay("show");
                        searchModel.selectid = selectid_Forms;

                    },
                    "dataSrc": function (json) {
                        return_data = new Array();
                        var data = json.data;
                   
                        $.each(data, function (i, row) {
                            var detail = '<a class="btn btn-sm btn-clean btn-icon btn-icon-md" href="/' + controllerName_Forms + '/InsertOrUpdatePage?id=' + row.Id + '&' + 'selectid=' + row.Id + '" title="Edit"><i class="la la-edit"></i></a>';
                            return_data.push({
                                'Id': row.Id,
                                'Name': row.Name,
                                'Surname': row.Surname,
                                'Email': row.Email,
                                'Phone': row.Phone,
                                //'Subject': row.Subject,
                                //'FormTypeName': row.FormType.Name,

                                'Detail': detail,
                            });

                        });
                        $(dt_Forms).LoadingOverlay("hide");
                        return return_data;
                    }
                },
                "fnDrawCallback": function (settings, json) {

                    $('.dt-buttons').css('float', 'right');
                    $('.dt-buttons').css('margin-left', '20px');
                    $('.dt-buttons').css('margin-top', '16px');

                    $(dt_Forms).LoadingOverlay("hide");
                    ayarlar();
                },
                "destroy": true,
                "caseInsensitive": true,
                "responsive": true,
                "pageLength": 100,
                "DisplayLength": 5,
                "lengthMenu": [[100, 25, 100, 1000, 2500, 5000], [100, 25, 100, 1000, 2500, 5000]],
                "lengthChange": true,
                "processing": true,
                "columns": columns,
                "order": [[0, "desc"]],
            });

        }
    });
</script>